<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="space,spacex,aerospace,elon musk,mars,falcon 9,falcon heavy,dragon" />
    <meta name="author" content="Marceli Karman">
    <title>SpaceX</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script> 
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.jpeg">
</head>
<body>

            <nav class="nav">
                <a href="/"><img id="logo" src="/static/img/spacex.png" alt="logo"></a>
                <button class="nav-item"><a class="link1" href="/mission">MISSION</a></button>
                <button class="nav-item"><a class="link1" href="/spaceman">SPACEMAN'S</a></button>
                <button class="nav-item"><a class="link1" href="/scientist">SCIENTISTS</a></button>
                <button class="nav-item"><a class="link1" href="/workwithus">WORK WITH US</a></button>
                <button class="nav-item"><a class="link1" href="/management">MISSION MANAGMENT</a></button>
                <button class="nav-item"><a class="link1" href="/login">LOG IN</a></button>
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <h2 id="update">Notifications</h2>
                    <p>Dear SpaceX community, we are thrilled to announce the successful completion of our latest Starlink mission, deploying 60 satellites into orbit. This marks another significant milestone in our mission to provide global internet coverage. We extend our gratitude to all our employees and partners for their dedication and hard work.</p>
                    <p>Attention all SpaceX enthusiasts! We are excited to announce the upcoming launch of Falcon Heavy, scheduled for next month. This mission will carry a payload of cutting-edge scientific instruments designed to explore distant planets and unlock the mysteries of the cosmos. Stay tuned for further updates and live coverage of the launch.</p>
                    <p>Important notice: Due to unforeseen technical issues, the launch of our Crew Dragon spacecraft has been rescheduled to ensure the safety and reliability of the mission. We apologize for any inconvenience this may cause and appreciate your understanding as we work diligently to resolve the issue. Updates will be provided as soon as new launch dates are confirmed.</p>
                    <p>Breaking news: Elon Musk surprises SpaceX employees with an unexpected treat! In celebration of a record-breaking year, Elon Musk has announced that all SpaceX employees will receive a free ice cream voucher redeemable at any local ice cream parlor. This gesture of appreciation comes as a token of gratitude for the hard work and dedication of the entire SpaceX team.</p>
                    <p>SpaceX reaches for the stars once again! Our next mission, codenamed "Galactic Odyssey," is set to embark on an ambitious journey to explore the outer reaches of the solar system. Equipped with state-of-the-art technology and fueled by the spirit of discovery, this mission represents a bold step forward in humanity's quest to unlock the secrets of the cosmos.</p>
                    <p>Dear space enthusiasts, get ready for an out-of-this-world experience! SpaceX is proud to announce the launch of our new virtual reality tour, "SpaceX Universe." Step into the shoes of an astronaut and embark on a thrilling journey through the wonders of space, from the surface of Mars to the rings of Saturn. Join us as we push the boundaries of imagination and explore the infinite possibilities of the universe.</p>


                </div>
                <button id="Dots" onclick="openNav()">▲</button>
            </nav>
            <section id="slider"> 
                <script>window.addEventListener('DOMContentLoaded', (event) => {
                    showSlides();
                    });</script>
                <div class="slideshow-container">

                    
                    <div class="mySlides fade">
                    <img src="/static/img/img1.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides fade">
                    <img src="/static/img/img2.jpg" style="width:100%">
                    </div>
                
                    <div class="mySlides fade">
                    <img src="/static/img/img3.jpg" style="width:100%">
                    </div>
                
                
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                
                
            </section>

           <div class="main">
            <h1>Current missions</h1>
            <div class="mission">
                {% set captains = [] %}
                {% set spacemen = [] %}
                {% set scientists = [] %}
                {% for row in mars_rows %}
                    {% if row.RoleName == "Captain" %}
                        {% set _ = captains.append(row.fullName) %}
                    {% elif row.RoleName == "Spaceman" %}
                        {% set _ = spacemen.append(row.fullName) %}
                    {% elif row.RoleName == "Scientist" %}
                        {% set _ = scientists.append(row.fullName) %}
                    {% endif %}
                {% endfor %}
                
                <p>The upcoming mission, codenamed "{{ mars_rows[0].Name }}", is set to commence on {{ mars_rows[0].LaunchDate }}. The role of mission commander will be assumed by {{ ', '.join(captains) if captains else 'a commander yet to be designated' }}. Joining them on this expedition will be a team of brave astronauts, including {{ ', '.join(spacemen) if spacemen else 'no information available' }}. Additionally, scientists {{ ', '.join(scientists) if scientists else 'will not be participating' }}.</p>





            </div>
            
            
            

            <div class="mission">
                {% set captains = [] %}
                {% set spacemen = [] %}
                {% set scientists = [] %}
                {% for row in moon_rows %}
                    {% if row.RoleName == "Captain" %}
                        {% set _ = captains.append(row.fullName) %}
                    {% elif row.RoleName == "Spaceman" %}
                        {% set _ = spacemen.append(row.fullName) %}
                    {% elif row.RoleName == "Scientist" %}
                        {% set _ = scientists.append(row.fullName) %}
                    {% endif %}
                {% endfor %}
                
                
                <p>The forthcoming mission, known as "{{ moon_rows[0].Name }}", is slated to commence on {{ moon_rows[0].LaunchDate }}. Leading this endeavor will be {{ ', '.join(captains) if captains else 'a commander yet to be appointed' }}. Alongside them, a team of intrepid astronauts, including {{ ', '.join(spacemen) if spacemen else 'no available information' }}, will embark on this journey. Furthermore, scientists {{ ', '.join(scientists) if scientists else 'will not be participating' }}.</p>
            </div>

            <div class="mission">
                {% set captains = [] %}
                {% set spacemen = [] %}
                {% set scientists = [] %}
                {% for row in AroundEarth_rows %}
                    {% if row.RoleName == "Captain" %}
                        {% set _ = captains.append(row.fullName) %}
                    {% elif row.RoleName == "Spaceman" %}
                        {% set _ = spacemen.append(row.fullName) %}
                    {% elif row.RoleName == "Scientist" %}
                        {% set _ = scientists.append(row.fullName) %}
                    {% endif %}
                {% endfor %}
                
                <p>The upcoming mission, codenamed "{{ AroundEarth_rows[0].Name }}", is scheduled to start on {{ AroundEarth_rows[0].LaunchDate }}. Taking the helm as mission leader will be {{ ', '.join(captains) if captains else 'a commander yet to be assigned' }}. Joining them on this expedition will be a group of courageous astronauts, including {{ ', '.join(spacemen) if spacemen else 'no information available' }}. Additionally, there will be no participation from scientists {{ ', '.join(scientists) if scientists else 'on this mission' }}.</p>
            </div>




           </div>

        </div>
    <footer class="footer">
        <div id="contact">
            <span>CONTACT INFORMATION</span>
            <ul>
                <li>u38_markar_lbn@technischools.com</li>
                <li>+48 721 221 299</li>
            </ul>
        </div>
        
        <div id="trademark">
            <div>SPACEX&trade;2024</div>
        </div>

        <div id="privacyPolicy">
            <a href="https://www.spacex.com/media/privacy_policy_spacex.pdf" target="_blank">Privacy Policy</a>
        </div>
        
        <div id="socialMedia">
            <a href="https://twitter.com/SpaceX?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><img src="/static/img/twitter.png" alt=""></a>
            <a href="https://www.facebook.com/spacextechnologies?locale=pl_PL" target="_blank"><img src="/static/img/fb.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/spacex/" target="_blank"><img src="/static/img/intsa.png" alt="Instagram"></a>
            <a href="https://www.youtube.com/@SpaceX" target="_blank"><img src="/static/img/yt.png" alt="YouTube"></a>
        </div>
        


    </footer>

</body>
</html>